<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Clone Chat GPT</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/highlight.js/lib/common/highlight.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js/styles/github-dark.min.css" />
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

  <!-- Gabarit pour les messages -->
  <template id="chat-template">
    <div class="p-4 odd:bg-blue-100 even:bg-gray-100 text-black rounded my-2 shadow">
      <p class="message"></p>
    </div>
  </template>



  <main class="mx-auto max-w-3xl w-full px-4 py-10 flex flex-col flex-1">
    <div id="gpt-output" class="flex flex-col space-y-2 mb-4"></div>
    
    <form id="prompt-form" class="mt-auto">
      <div class="relative mt-2 rounded-md shadow-sm">
        <input
          type="text"
          name="prompt"
          id="prompt"
          class="block w-full rounded-md border border-gray-300 py-2.5 pl-4 pr-12 text-gray-900 placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:outline-none sm:text-sm"
          placeholder="Envoie un message"
        />
        <button
          type="submit"
          class="btn-primary absolute inset-y-0 right-0 flex items-center pr-3 text-white bg-blue-600 px-3 rounded-r hover:bg-blue-800"
        >
          Envoyer
        </button>
      </div>
    </form>
  </main>




<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
